<style>

.timer_container {
    font-size: 15px;
}

.main_container {
    text-align: center;
    margin-top: 200px;
    font-size: 25px;
}

</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Currency rate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src={{ url_for('static', filename='helpers.js') }}></script>
</head>

<body>
    <div class="main_container">
        <div class="timer_container">Time left 10 sec.</div>
        <div class="text_container">Something here</div>
    </div>
</body>

</html>