<style>

.timer_container {
    font-size: 15px;
}

.main_container {
    text-align: center;
    margin-top: 200px;
    font-size: 25px;
}

</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Currency rate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src={{ url_for('static', filename='helpers.js') }}></script>
</head>

<body>
    <div class="main_container">
        <div class="timer_container">Seconds left until next refresh:</div><div class="refresh_timer">10</div>
        <div class="text_container">Currency rate will shows here</div>
    </div>
</body>

</html>